<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Livro de Teste</mat-card-title>
        <mat-card-subtitle>R$ 123,45</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://media.timeout.com/images/106037266/750/422/image.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        Teste de teste de teste de teste. Teste de teste de teste de teste. Teste de teste de teste de teste. Teste de
        teste de teste de teste.<br /><br />
        Autor: Autor de Teste<br />
        Editora: Editora de Teste<br />
        Ano: 2024
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary">Comprar agora</button>
    </mat-card-actions>
</mat-card>
<div class="pb1"></div>