<mat-stepper [linear]="true" #stepper style="height: calc(100vh - 100px); width: 100vw;">
    <mat-step>
        <div>
            <ol>
                <li *ngFor="let item of checkoutSummary?.shoppingCart?.items">
                    <p>
                        <b>{{item.name}} (x {{item.quantity}} un.)</b><br />
                        {{item.description}}<br />
                        SKU: {{item.sku}}<br />
                        <span style="color: green; font-weight: bold;">{{item.price | currency:checkoutSummary?.currency}}</span>
                    </p>
                </li>
            </ol>
            <br />
            <span style="color: green; font-weight: bold">Total: {{totalPrice | currency:checkoutSummary?.currency}}</span>
        </div>
        <div style="width: 100vw; height: 56px; position: fixed; left: 0; bottom: 0; margin: auto; text-align: center;">
            <button mat-flat-button matStepperNext class="center" color="primary" style="width: 80%;">Continue</button>
        </div>
    </mat-step>
    <mat-step>
        <div>
            <mat-form-field style="width: 100%;">
                <mat-label>Nome</mat-label>
                <input matInput
                    value="{{checkoutSummary?.buyerInfo?.firstName}} {{checkoutSummary?.buyerInfo?.lastName}}">
            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label>CPF</mat-label>
                <input matInput value="{{checkoutSummary?.buyerInfo?.fiscalIdentificationNumber}}">
            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label>e-mail</mat-label>
                <input matInput value="{{checkoutSummary?.buyerInfo?.email}}">
            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label>Fone</mat-label>
                <input matInput value="{{checkoutSummary?.buyerInfo?.phone}}">
            </mat-form-field>

        </div>
        <div style="width: 100vw; height: 56px; position: fixed; left: 0; bottom: 0; margin: auto; text-align: center;">
            <button mat-flat-button matStepperNext class="center" color="primary" style="width: 80%;">Continue</button>
        </div>
    </mat-step>
    <mat-step>
        <mat-form-field style="width: 100%;">
            <mat-label>Rua</mat-label>
            <input matInput value="{{checkoutSummary?.shippingAddress?.street}}">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <mat-label>Bairro</mat-label>
            <input matInput value="{{checkoutSummary?.shippingAddress?.district}}">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <mat-label>Cidade</mat-label>
            <input matInput value="{{checkoutSummary?.shippingAddress?.city}}">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <mat-label>Estado</mat-label>
            <input matInput value="{{checkoutSummary?.shippingAddress?.state}}">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <mat-label>CEP</mat-label>
            <input matInput value="{{checkoutSummary?.shippingAddress?.postalCode}}">
        </mat-form-field>

        <div style="width: 100vw; height: 56px; position: fixed; left: 0; bottom: 0; margin: auto; text-align: center;">
            <button mat-flat-button matStepperNext class="center" color="primary" style="width: 80%;"
                (click)="createOrder()">Continue</button>
        </div>
    </mat-step>
    <mat-step>
        <span style="color: green;">Valor: {{totalPrice | currency:checkoutSummary?.currency}}<br /></span>
        <span *ngIf="totalDiscount! > 0" style="color: green;">Desconto: {{-totalDiscount! | currency:checkoutSummary?.currency}}<br /></span>
        <span *ngIf="totalTax! > 0" style="color: green;">Imposto: {{totalTax! | currency:checkoutSummary?.currency}}<br /></span>
        <span *ngIf="totalShipping! > 0" style="color: green;">Frete: {{totalShipping | currency:checkoutSummary?.currency}}<br /></span>
        <span *ngIf="totalShippingDiscount! > 0" style="color: green;">Desconto no Frete: {{-totalShippingDiscount! | currency:checkoutSummary?.currency}}<br /></span>
        <span *ngIf="totalHandlingFee! > 0" style="color: green;">Taxa de Manuseio: {{totalHandlingFee | currency:checkoutSummary?.currency}}<br /></span>
        <span style="color: green; font-weight: bold"><br />Total: {{totalAmount | currency:checkoutSummary?.currency}}</span>

        <div style="width: 100vw; height: 56px; position: fixed; left: 0; bottom: 0; margin: auto; text-align: center;">
            <button mat-flat-button class="center" color="primary" style="width: 80%;"
                (click)="requestApproval()">Pagar</button>
        </div>
    </mat-step>
</mat-stepper>